.boolparam-push-button {
    display: block;
    position: relative;
    width: 113px;
    height: 65px;
    margin: 25px 8px;
    cursor: pointer;
}

.boolparam-push-button-led {
    margin: auto;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ececec;
    border-radius: 20px;
}

.parameter-name {
    display: block;
    position: absolute;
    top: 52px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
