
.tag-editor {
  width: 150px;
  float: left;
  margin-right: 10px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
}

.tag-editor-filter-input {
  width: 100%;
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 32px;
  height: 32px;
}

.tag-dropdown {
  text-align: left;
  width: 150px;
  position: absolute;
  z-index: 100;
  list-style-type: none;
  background: #ddd;
  padding: 0;
  margin: 0;
  max-height: 180px;
  overflow-y: scroll;
}

.tag-dropdown li {
  margin: 0;
  padding: 4px 0 4px 10px;
  cursor: pointer;
}

.tag-dropdown li:hover {
  background: #e19758;
  color: #fff;
}
