.float-parameter {
    color: #717171;
    position: relative;
    margin: 0px 15px 27px 15px;
    cursor: ns-resize;
}

.parameter-name {
    display: block;
    position: absolute;
    top: 95px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.parameter-value {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 20px;
    margin-left: -25px;
    margin-top: -10px;
    text-align: center;
}
