.patch-author {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  float: left;
}

.author-name {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-family: Ubuntu, sans-serif;
  font-size: 12px;
  font-weight: 100;
  background: #5d5d5d;
  transition: .3s;
}

.author-name:hover {
  background: #fff;
  color: #000;
}
