[Service]
ExecStart=/usr/bin/nodejs /srv/owl/api/bin/www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=owl-api
User=daemon
Group=daemon
WorkingDirectory=/srv/owl/api

[Install]
WantedBy=multi-user.target
