# We only want to track specific items in the wordpress dir.

# We begin by ignoring everything:
*

# ...except this gitignore file.
# Use the '!' flag to negate the rule above:
!.gitignore

!.dockerignore

!/Dockerfile

# Then we add dirs and files back into the repo one by one.

!/robots.txt
!/wp-content/plugins/owl-api-bridge.php
!/wp-content/plugins/owl-patch-uploader.php
!/wp-content/plugins/owl-patch-uploader-secret.example.php

# To add dirs back in, you need to specify a dir at a time,
# Then specify "everything inside this dir" (**):
!/wp-content/
!/wp-content/themes/
!/wp-content/themes/hoxton-owl-2014/
!/wp-content/themes/hoxton-owl-2014/**
!/wp-content/themes/shopkeeper-child/
!/wp-content/themes/shopkeeper-child/**

# Unfortunately, the above method reintroduces other
# undesirable files, so we re-ignore them:
.DS_Store
/wp-content/themes/hoxton-owl-2014/node_modules/
/wp-content/themes/hoxton-owl-2014/page-patch-library/js/bundle.js*
/wp-content/themes/hoxton-owl-2014/page-patch-library/css/owlspa.css*
/wp-content/themes/shopkeeper-child/node_modules/
/wp-content/themes/shopkeeper-child/page-patch-library/js/bundle.js*
/wp-content/themes/shopkeeper-child/page-patch-library/css/owlspa.css*

# Add to the bottom of this list any files you wish to track.
