.patch-tile-small {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    padding: 20px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #6f757f;
    background: #503F60;
    transition: .3s;
    font-family: Ubuntu, sans-serif;
    background: #E6C79B;
    background: -moz-radial-gradient(circle at bottom left,  #7C1A58 0%, transparent 30%), -moz-radial-gradient(center, circle at top right, #E6C79B 5%, #929285 30%, #503F60 80%);
    background: -webkit-radial-gradient(circle at bottom left,  #7C1A58 0%, transparent 30%), -webkit-radial-gradient(center, circle at top right,  #E6C79B 5%,#929285 30%,#503F60 80%);
    background: radial-gradient(circle at bottom left,  #7C1A58 0%, transparent 30%), radial-gradient(circle at top right,  #E6C79B 5%,#929285 30%,#503F60 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6C79B', endColorstr='#503F60',GradientType=1 );
}

.patch-title {
    font-family: inherit;
    display: block;
    float: left;
    line-height: 30px;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background: #231f20;
    transition: .3s;
}

.patch-tile-controls {
    position: absolute;
    right: 20px;
    top: 20px;
}

.star-counter-wrapper {
    position: absolute;
    right: 20px;
    bottom: 16px;
}

@media only screen and (max-width: 1430px) {
    .patch-tile-small {
        width: 32%;
        height: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 860px) {
    .patch-tile-small {
        width: 100%;
    }
}